[submodule "modules/chrislea"]
	path = modules/chrislea
	url = https://github.com/garthk/puppet-chrislea
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib
[submodule "apt"]
	path = apt
	url = https://github.com/puppetlabs/puppetlabs-apt
